body { margin:0; font-family:sans-serif; }

h1,h2,h3,h4,h5 { margin:3px; }
h1 { font-size:15pt; }
h2 { font-size:14pt; margin-bottom:15px;}
h3 { font-size:13pt; border-bottom:1px dotted; padding-left:10px; }

img { border:0; }
h1 a { text-decoration:none; color:white;}
h1 a:hover { text-decoration:underline; }

#notify {
	background-color:#FFC;
}

#header {
	padding:5px;
	background-color:#D00;
	color:white;
}

#menu {
	width:250px;
	float:left;
}

#menu a { color:black; }
#menu input[type="text"] { width:200px; }

#contents {
	border-left:1px dotted;
	min-height:400px;
	margin-left:250px;
	padding:15px;
}

#main {
	border-top:3px solid #B00;
	top:100px;
}

#tail {
	border-top:3px solid #FCC;
	clear:both;
	font-size:9pt;
	text-align:right;
	padding:5px;
	padding-right:25px;
	background:#D00;
	color:#FBB;
}

#tail a { text-decoration:none; color:#BBC; }

table.fullTable {
	border-top:1px solid;
	border-bottom:1px solid;
	margin-top:25px;
	width:100%;
}
table.fullTable th { padding:3px; color:white; background-color:black; }
table.fullTable td { border:1px solid #AAA; }
table.fullTable p { padding:5px; }

table.thumbnail { display:inline; }
table.thumbnail th { padding:3px; color:white; background-color:black; }
table.thumbnail td { border:1px solid black; }
table.thumbnail img { width:200px; }

